<div class="row">
  <div class="col-xs-2 col-sm-1">
    <section class="vote-widget">
      <%= upvote_link @question %>
      <h2><%= @question.vote_value %></h2>
      <%= downvote_link @question %>
    </section>
  </div>

  <div class="col-xs-10 col-sm-11 question-show">
    <h1><%= @question.title %></h1>
    <p><%= @question.body %></p>
    <p>
      Created By: <%= @question.user_full_name %>
    </p>

    <% if can? :manage, @question %>
      <%= link_to 'edit', edit_question_path(@question) %>

      <%= link_to 'delete', question_path(@question),
                            method: :delete,
                            data: { confirm: 'Are you sure?' } %>
    <% end %>

    <% if user_signed_in? && can?(:like, @question) %>
      <% if @like.present?  %>
        <%= link_to "Un-Like", like_path(@like), method: :delete %>
      <% else %>
        <%= link_to "Like", question_likes_path(@question), method: :post %>
      <% end %>
    <% end %>

    (<%= pluralize @question.likes.count, "like" %>)

    <section class="tag-widget">
      Tags: <%= @question.tags.map(&:name).join(', ') %>
    </section>

  </div>
</div>

<hr/>

<div class="row">
  <div id='answer-form'>
    <%= render '/answers/form' %>
  </div>
  <div id='answers'>
    <% @question.answers.each do |answer| %>
      <%# ans will be a local variable in the partial we're rendering. Partials
          share the same instance variable as the file they're rendered from
          but if you want a local variable then you will have to pass it in  %>
      <%= render('/answers/answer', { ans: answer }) %>
    <% end %>
  </div>
</div>
</div>
